<div class="flex flex-col justify-center items-center px-20 h-80 mb-40">

  <h1 class="text-3xl font-bold">Welcome to Code with Test Auth</h1>
  <p class="w-6/12 mb-40">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis diam enim, posuere at velit vel, pulvinar dapibus augue. Sed sodales et nisi id volutpat. Aliquam volutpat ante quis neque elementum, ut aliquet mauris porta. Donec imperdiet aliquet mauris. Aenean in ligula velit. Cras ut nibh eget velit bibendum volutpat. Aliquam imperdiet felis sed lectus tempus, nec ornare lectus tristique.
  </p>




</div>
